$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-dark-1: #1a7758;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-pink-light: #ff6b81;
$color-clear-chill: #1e90ff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #333;
$color-grey-light-4: #888;

$color-black: #000;
$color-white: #fff;

// Default font size
$default-font-size: 1.4rem;
$font-size-16: 1.6rem;

$border-radius-3: 3px;

// Grid with
$grid-width: 104rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
