.list {
  &__item {
    padding: 3rem;
    &--search {
      float: left;
      width: 25rem;
      height: 3rem;
      border: none;
      outline: none;
      padding: 1.5rem 1.5rem;
      border-radius: $border-radius-3;
      border-bottom: 0.2rem solid transparent;
      transition: all 0.4s;

      &:focus {
        border-bottom: 0.2rem solid $color-primary-dark;
        box-shadow: 0 1rem 3rem rgba($color-black, $alpha: 0.3);
        transform: translateY(-0.1rem);
      }
      &:focus:invalid {
        border-bottom: 0.2rem solid $color-secondary-dark;
        box-shadow: 0 0.5rem 2rem rgba($color-black, $alpha: 0.2);
        transform: translateY(-0.3rem);
      }

      &::-webkit-input-placeholder {
        color: $color-grey-light-4;
      }
    }
  }
}
