.form {
  margin-top: 10rem;
}

.form__input {
  width: 40rem;
  border: none;
  height: 4rem;
  padding: 1rem;
  font-size: $font-size-16;
  outline: none;
  border-radius: 3px;
  font-weight: 400;
  box-shadow: 0 0.5rem 1rem rgba($color-black, $alpha: 0.1);
  transition: all 0.1s;

  &--texarea-short {
    width: 100%;
    height: 8rem;
  }

  &--texarea-long {
    width: 100%;
    height: 10rem;
  }

  &:focus {
    border-bottom: 3px solid $color-primary-dark-1;
  }
  &:focus:invalid {
    border-bottom: 3px solid $color-secondary-dark;
  }

  &::-webkit-input-placeholder {
    color: $color-grey-light-3;
  }
}

.form__label {
  font-size: $font-size-16;
  color: $color-grey-light-3;
  font-weight: 400;
  margin-left: 1rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3.5rem);
}

.form__input--file {
  display: none;
}

.form__label--file {
  font-size: 2rem;
  display: inline-block;

  &:hover {
    color: $color-white;
  }
}

.form__image--load {
  width: 20rem;
  height: auto;
  display: inline-block;
  margin-left: 20rem;
}

.index_info {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 4rem;
  color: $color-white;

  &:hover {
    color: $color-secondary-light;
  }
}
